
/* Main rotating container */
.model_image_wrap {
  animation: rotate 22s linear infinite;
}

/* Logo styling */
.model_card {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  animation: upright 22s linear infinite;
}

/* Total items and circle radius */
:root {
  --count: 12;
  --radius: 230px;
}

/* Circle positioning logic */
.model_card:nth-child(1)  { --n: 1; }
.model_card:nth-child(2)  { --n: 2; }
.model_card:nth-child(3)  { --n: 3; }
.model_card:nth-child(4)  { --n: 4; }
.model_card:nth-child(5)  { --n: 5; }
.model_card:nth-child(6)  { --n: 6; }
.model_card:nth-child(7)  { --n: 7; }
.model_card:nth-child(8)  { --n: 8; }
.model_card:nth-child(9)  { --n: 9; }
.model_card:nth-child(10) { --n: 10; }
.model_card:nth-child(11) { --n: 11; }
.model_card:nth-child(12) { --n: 12; }

.model_card:nth-child(n) {
  top:  calc(50% + (var(--radius) * sin((360deg / var(--count)) * (var(--n) - 1))));
  left: calc(50% + (var(--radius) * cos((360deg / var(--count)) * (var(--n) - 1))));
}

/* Main orbit rotation */
@keyframes rotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* Counter-rotate to keep text upright */
@keyframes upright {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(-360deg); }
}

.use_case_tab_link.w--current .use_case_overflow{
      height: 100%;
}
